<footer class="reveal">
  <a target="_blank" href="https://discord.com/invite/Yt3hM8Dck2" title="Discord du clan" class="discord">
    <img class="lien" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/logo%20discord.png?v=1709046892380" />
  </a>
  <a target="_blank" href="https://instagram.com/werewolfonline.clan?igshid=NTc4MTIwNjQ2YQ==" title="Insta du clan" class="insta">
    <img class="lien" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/logo%20insta.png?v=1709046891548" />
  </a>
</footer>