<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
    content="Site web du clan Werewolf Online. Le site explique les règles, les quêtes, les évènements, etc" />
<link rel="stylesheet" href="css/style.css" />
<link rel="shortcut icon" type="image/x-ico" href="images/loup.ico" />
<link rel="shortcut icon" type="image/png" href="images/loup.png" />
<title>
    <%= title %>
</title>