<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Site web du clan Werewolf Online. Le site explique les règles, les quêtes, les évènements, etc" />
<link rel="stylesheet" href="css/style.css" />
<link rel="shortcut icon" type="image/png" href="https://svgsilh.com/png-1024/159979-400099.png" />
<title><%= title %></title>