<section class="reveal" title="Changer de page">
  <select id="menu" onChange="redirection()">
    <option value="accueil">Accueil</option>
    <option value="regles">Règles</option>
    <option value="quetes">Quêtes</option>
    <option value="recompenses">Récompenses</option>
    <option value="events">Évènements</option>
    <option value="items">Items spéciaux</option>
    <option value="questionnaire">Questionnaire</option>
    <option value="search">Chercher quelqu'un</option>
    <option value="infos">Informations</option>
    <option value="copy-annonce">Copier l'annonce de la quête</option>
    <% if (currentPage=='note' ) { %>
      <option value="note">Note</option>
      <% } %>
        <% if (currentPage=='admin' ) { %>
          <option value="admin">Administrateur</option>
          <% } %>
  </select>
</section>

<script>
  // Retirer la classe fade-in
  function removeFadeInClasses() {
    const elementsWithFadeIn = document.querySelectorAll('.fade-in');
    elementsWithFadeIn.forEach((element) => {
      element.classList.remove('fade-in');
    });
  }

  // Redirection de la page
  function redirect(location) {
    removeFadeInClasses();
    setTimeout(function () {
      window.location.href = location;
    }, 250);
  }

  // Gestion des redirections
  function redirection() {
    var optnMenu = document.getElementById("menu").value;
    switch (optnMenu) {
      case "accueil":
        redirect("/");
        //window.location.href = "/";
        break;
      case "regles":
        redirect("/regles");
        break;
      case "quetes":
        redirect("/quetes");
        break;
      case "recompenses":
        redirect("/recompenses");
        break;
      case "events":
        redirect("/events");
        break;
      case "items":
        redirect("/items");
        break;
      case "questionnaire":
        redirect("/questionnaire");
        break;
      case "infos":
        redirect("/informations");
        break;
      case "copy-annonce":
        redirect("/annonce");
        break;
      case "search":
        redirect("/search");
        break;
    }
  }

  // Pour pré-sélectionner l'option correspondant à la page actuelle
  document.addEventListener('DOMContentLoaded', (event) => {
    const currentPage = '<%= currentPage %>';
    const menu = document.getElementById('menu');
    if (menu) {
      menu.value = currentPage;
    }
  });
</script>