<section class="return reveal" title="Remonter en haut de la page">
  <a href="#">
    <img class="returnLogo" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/fleche.png?v=1709046893508" />
  </a>
</section>