<!doctype html>
<html lang="fr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Informations Werewolf Online</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="https://svgsilh.com/png-1024/159979-400099.png">
  <link rel="shortcut icon" type="image/png" href="https://svgsilh.com/png-1024/159979-400099.png">
</head>

<body>
  <header class="reveal">
    <h1>
      Informations du clan<br>꧁Werewolf Online꧂
    </h1>
  </header>
  <main>
    <section class="reveal">
      <select id="menu" value={optnMenu} onChange="redirection()">
        <option value="accueil">Accueil</option>
        <option value="regles">Règles</option>
        <option value="quetes">Quêtes</option>
        <option value="recompenses">Récompenses</option>
        <option value="events">Évènements</option>
        <option value="items">Items spéciaux</option>
        <option value="questionnaire">Questionnaire</option>
        <option value="search">Chercher quelqu'un</option>
        <option value="infos" selected>Informations</option>
        <!--option value="quest-copy">Copier l'annonce de la quête</option-->
      </select>
    </section>
    <section class="border reveal">
      <h2>Le grind</h2>
      <p>
        Le grind c'est des parties pour faire gagner le village très rapidement pour gagner de l'xp.
        <br>
        Pour jouer des parties de grind, il suffit d'aller dans les parties personalisées en anglais et de rejoindre des parties (nommées généralement vill win). Il est possible que vous ne puissiez pas les voir si les créateurs ont réglé un niveau minimum que vous n'avez pas atteint.
        <br>
        Comment jouer ces parties ?
        <br>
        Si vous êtes loup garou, lors de la nuit tuez votre couple pour mourir et faire gagner le village. Si vous ou l'autre loup est le loup junior, il faut tuer le couple du loup junior pendant que celui ci se venge sur le couple de l'autre loup.
        <br> 
        Si il reste des loups la journée (car pas de junior ou couple de loup), ils disent qui ils sont, il faut leur donner la bombe pour les tuer rapidement (m signifie me et d signifie dec soit faites exploser la bombe)
        <br>
        Si vous êtes villageois, ne faite rien la nuit, ce n'est pas nécessaire. Passez la bombe le jour et faites la exploser si besoin, et si votre couple est un loup et ne le dit pas, dites le et tuer le.
        <br>
        Si vous êtes hh et que les loups sont en couple, vous pouvez donner votre cible pour qu'elle soit tuer (avec junior ou tireur par exemple)
        <br>
        Certaines subtilitées vous viendront au fur et à mesure !
      </p>
    </section>
    <section class="border reveal">
      <h2>Date de création du clan</h2>
      <p>Le clan a été créer par NgloKante le 26 février 2019.</p>
    </section>
    <section class="border reveal">
      <h2>Dates de modifications des pages</h2>
      <p class="left">
        Quête actuelle: ce met à jour tout seul
        <br>
        Prochaine quête: ce met à jour tout seul
        <br>
        Quête or gratuite: 16/11/2023 à 20:00
        <br>
        Règles: 16/11/2023 à 20:00
        <br>
        1 vs 1: 16/11/2023 à 20:00
        <br>
        Chasse xp mensuel: 16/11/2023 à 20:00
        <br>
        Chasse xp normal: 16/11/2023 à 20:00
        <br>
        Événements: 16/11/2023 à 20:00
        <br>
        Chasse à l'xp mensuel: 16/11/2023 à 20:00
        <br>
        Chasse à l'xp: 16/11/2023 à 20:00
        <br>
        Mini évènement: 16/11/2023 à 20:00
        <br>
        Participants questionnaire: 16/11/2023 à 20:00
        <br>
        Double peine: 16/11/2023 à 20:00
        <br>
        Quête gemme gratuite: 16/11/2023 à 20:00
        <br>
        Mute le tchat: 16/11/2023 à 20:00
        <br>
        Questionnaire: 16/11/2023 à 20:00
        <br>
        Items spéciaux: 16/11/2023 à 20:00
        <br>
        Dettes: 16/11/2023 à 20:00
        <br>
        Prix des quêtes: 16/11/2023 à 20:00
        <br>
        Précision quête gemme: 16/11/2023 à 20:00
        <br>
        Bonus/malus: 16/11/2023 à 20:00
        <br>
        Villageois VS loup-garou: 16/11/2023 à 20:00
        <br>
        Week-end roses: 16/11/2023 à 20:00
      </p>
    </section>
    <section id="classements" class="border center reveal">
      <h2>Classements des évènements</h2>
      <details class="left">
        <summary class="first">1vs1: ⚔️ du 12/08/2023</summary>
        <p>
          Olive bat Hokidokette 17 337xp contre 16 730xp
          <br>
          Sap bat luffy 4 135xp contre 1 755xp
          <br>
          Platy bat Soline 3 110xp contre Oxp
        </p>
      </details>
      <details class="left">
        <summary>Mini event: 👾 du 05/08/2023</summary>
        <p>
          1. Soline<br>
          2. Hokidokette<br>
          3. Platypus<br>
          4. JOKER_P5R<br>
          5. Sy_Steme
        </p>
      </details>
      <details class="left">
        <summary class="last">Double peine 💘 du 12/07/2023</summary>
        <p>
          1. Hokidokette et Valtintin: 27 967xp
          <br>
          2. olive_du_club et ninaa_: 23 795xp
          <br>
          3. JOKER_P5R et Platypus: 20 848xp
          <br>
          4. Soline: 13 050xp
          <br>
          5. Louvedelawild et No_money: 10 708xp
          <br>
          6. SillyRapunzel et Pain_beurre: 117xp
        </p>
      </details>
    </section>
    <section class="border reveal">
      <h2>Développeurs</h2>
      <p>
        Le site du clan a été développé par le sous chef Valtintin qui est maintenant aidé par la meilleure sous-cheffe : Firelack.
      </p>
    </section>
    <section class="border reveal">
      <h2>Droit d'auteur</h2>
      <p>
        Ceci n'est pas un site web officiel de <a target="_blank" href="https://www.wolvesville.com/">Wolvesville</a>.
        <br>
        Il a été créé pour un clan (WerewoIf OnIine*).
      </p>
    </section>
    <section class="return reveal">
      <a href="#">
        <img class="returnLogo" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/fleche.png?v=1709046893508">
      </a>
    </section>
  </main>
  <footer class="reveal">
    <a target="_blank" href="https://discord.com/invite/Yt3hM8Dck2">
      <img class="lien" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/logo%20discord.png?v=1709046892380">
    </a>
    <br>
    <a target="_blank" href="https://instagram.com/werewolfonline.clan?igshid=NTc4MTIwNjQ2YQ==">
      <img class="lien" src="https://cdn.glitch.global/da17588f-b176-421d-842d-6ef157fe00f3/logo%20insta.png?v=1709046891548">
    </a>
  </footer>
  <script src="scripts/script.js"></script>
</body>

</html>
